node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.history

*.apk
*.aab

# macOS
.DS_Store

pc-api-7396863256720182215-84-e38b94a0a4b7.json
google-services.json
credentials
credentials.json
.env